@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Merriweather+Sans:wght@700&family=Noto+Sans+Vithkuqi:wght@500&family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  /* header */
body{
    font-family: 'Poppins', sans-serif;
}


main{
    background-color:rgb(207, 233, 229);
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(207, 233, 229);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header div h1{
    margin-left: 20px;
    
}


.logo {
    text-decoration:none;
}


nav  ul {
    display: flex;
    gap: 20px;
    margin-right: 150px;
   
    
    
}


nav ul li {
    list-style: none;
    
}


nav ul li a {
    text-decoration: none;
    margin-right: 40px;
    color: black;
    font-size: 20px;
    font-weight:bold;
 
    
}

  /* header */



  /* herosection */

.herosection {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(207, 233, 229);
    padding: 60px;
    
}

.herotitle{
    display: flex;
    flex-direction: column;
    gap: 30px; 
    margin-left: 60px;

 }

.herosection  .herotitle h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    font-size: 60px;
    font-weight:800;
}

.herosection  .herotitle h3{
    text-decoration: none;
    color: rgb(116, 112, 114);
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

.herosection  .herotitle button{
    background-color: black;
    color: white;
    height: 50px;
    width: 180px;
}


.herosection div img{
    margin-right: 60px;
    
}

  /* herosection*/





  /* aboutsection */
 .aboutsection{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
 }
 .aboutdescription{
    border-radius: 2px;
    border-color: black;
    border-style: solid;
 }

 .aboutdescription img {
   height: 50px;
   width: 50px;
 }

.aboutdetails{
    display: flex;
    gap: 50px;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.aboutdescription {
    display: flex;
    width: 20%;
    padding: 20px;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.aboutdescription h3{
      font-weight:900;
}
.aboutdescription p {
    font-weight:lighter;
}


.abouttitle{
    display: flex;
    flex-direction: column;
    gap: 18px;
  justify-content: center;
  align-items: center;
}

.abouttitle h1 {
    font-weight:900
    
}
    /* aboutsection */

    /* productsection */
.producthead {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.productsection{
    background-color:rgb(207, 233, 229);  
    padding: 10px;
}

.producthead h1{
    font-size: 900;

}
  

.productdetails{
    display: flex;
    background-color:rgb(207, 233, 229);
    justify-content: space-evenly;
    align-items: center;
   
}

.productdetails div .relimg {
   
  position: relative;
  bottom: 60px;
}
.productcontent{
    display: flex;
    flex-direction: row;
}

.productsection h3 {
    padding-top: 20px;
    font-size: 17px;
    text-align: center;
}

   /* productsection */

   /* webreview */
.webreview{
    background-color:rgb(207, 233, 229); 
    display: flex;
    padding: 40px;
    
     
}

.clientdetails{
  margin-left: 200px;
  margin-top: 100px;
}

.clientdetails h1{
    font-weight:bolder
}

.clientimg img{
  position: relative;
  bottom: 100px;
}



   /* webreview */

/* feedback section */
.feedbacksection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
     
}

.feedbacksection h1{
  margin-bottom: 20px;
}

.feedbacksection h6{

font-size: larger;
margin-bottom: 20px;


}

.feedbacksection input{
    height: 30px;
    width: 900px;
    padding-top: 40px;
}

.feedbacksection button{
    background-color: black;
    color: white;
    height: 50px;
    width: 180px;
    margin-top: 30px;
}
/* feedback section */


/* final section */
.finalsection{
   margin-left: 70px;
   

}

.finalsection h1{
    font-weight: bolder;
    
}

.finalsection h6{
    font-weight: bolder;
    font-size: large;
}

.finalsection h5{
    font-weight: bolder;
    font-size: large;
    margin-top: 30px;
    color: rgb(116, 112, 114);
    padding-bottom: 30px;
}

.socialmediaicons{
display: flex;
flex-direction: row;


}
.socialmediaicons img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 10px;
 
   


    
}


/* final section */




 






